* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* start header */
header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
}

.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: #149a44;
}

.navbar-toggler {
  background-color: #149a44;
}

.navbar-toggler span.navbar-toggler-icon {
  color: #fff;
  display: block;
  margin-top: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  color: #000;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #149a44;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #149a44;
}

.navbar-expand-lg .navbar-nav .nav-link:hover::before {
  width: 100%;
}

a.nav-link::before {
  position: absolute;
  content: "";
  background: #149a44;
  width: 0px;
  height: 2px;
  bottom: 13px;
  transition: all 0.5s;
}

.dropdown-menu {
  transform: translateX(-50px);
  float: none;
  min-width: 15rem;
  padding: 1rem 0 0.3rem;
}

.dropdown-menu a.dropdown-item {
  font-weight: 400;
  font-size: 20px;
  position: relative;
  padding-bottom: 14px;
}

.dropdown-menu a.dropdown-item:hover {
  color: #149a44;
}

.dropdown-menu a.dropdown-item::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #149a44;
  position: absolute;
  left: 15px;
  bottom: 10px;
  transition: all 0.5s;
}

.dropdown-menu a.dropdown-item:hover::after {
  width: 100px;
}
/* end header */

/* start carousel */
.carousel {
  position: relative;
  margin-top: 120px;
  padding: 1rem 0;
  background: url(../img/banner4.jpg) no-repeat center;
  background-size: cover;
  display: grid;
  align-items: center;
  z-index: 0;
  padding: 1rem 0;
}

.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}

.carousel h2.title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
}

.carousel .content {
  padding-bottom: 50px;
}

.carousel .content a {
  text-decoration: none;
  color: #189a46;
  font-size: 20px;
  font-weight: 400;
}

.carousel .content span i {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  margin: 0 10px;
}

.carousel .content span {
  font-size: 20px;
  color: #fff;
}
/* end carousel */

/* start gallery */
.gallery {
  padding: 10px 0 50px;
}

.gallery-top h6 {
  margin: 50px 0 10px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.gallery-top h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

.gallery-bottom {
  margin-top: 40px;
}

.gallery-bottom .card {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin-bottom: 40px;
  margin-right: 5px;
}

.gallery-bottom .card:hover {
  transform: translateY(-5%);
  transition: 0.7s;
}

.gallery-bottom .card-body h5 a {
  text-decoration: none;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}

.gallery-bottom .card-body h5 a:hover {
  color: #149a44;
  transition: all 0.4s;
}

.gallery-bottom .card-body p {
  font-size: 18px;
  line-height: 1.6;
  color: gray;
}

.gallery-bottom .card-body a {
  text-decoration: none;
  color: #000;
}

.gallery-bottom .card-body a:hover {
  color: red;
}

.gallery-bottom .card-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gallery-bottom .card-bottom span {
  font-size: 15px;
  margin-right: 20px;
  color: gray;
}

.gallery li.page-item a.page-link {
  border: #189a46;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.gallery li.page-item a.page-link:hover {
  color: #149a44;
}
/* end gallery */

/* start footer */
.footer {
  background-color: #111;
  padding: 40px 0 10px;
}

.footer-top .row .col {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.footer-top .icon {
  display: flex;
}

.footer-top .item h5 {
  font-weight: 600;
}

.footer-top .item a {
  text-decoration: none;
  font-weight: 300;
}

.footer-top .item a:hover {
  color: #fff !important;
  text-decoration: underline;
}

.footer-top .icon i:hover {
  color: #fff !important;
  text-decoration: none;
  transition: 0.3s;
}

.footer-top .item ul {
  list-style: none;
  padding-left: 0 !important;
}

.footer-top .item li {
  margin-bottom: 10px;
}

.footer-top .item li a:hover {
  color: #fff !important;
}

.footer .line {
  border: 0.05px groove gray;
  margin-top: 50px;
}

.footer-bottom a {
  color: red;
  text-decoration: none;
  font-weight: 300;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
/* end footer */
