* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* start header */
.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
}

.header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.nav-item {
  margin: 0 15px;
}

.nav-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #189a46;
  display: block;
  transition: all 0.5s;
}

.nav-item:hover::after {
  width: 90%;
}

.nav-link {
  transition: all 0.5s;
}

.nav-item:hover .nav-link {
  color: #189a46 !important;
}

.dropdown-menu .dropdown-item::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #189a46;
  display: block;
  transition: all 0.5s;
}

.dropdown-menu .dropdown-item:hover::after {
  width: 90%;
}

/* end header */

/* start carousel */
.carousel {
  position: relative;
  margin-top: 100px;
  padding: 1rem 0;
  background: url(../img/banner4.jpg) no-repeat center;
  background-size: cover;
  display: grid;
  align-items: center;
  z-index: 0;
  padding: 1rem 0;
}

.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}

.carousel h2.title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
}

.carousel .content {
  padding-bottom: 50px;
}

.carousel .content a {
  text-decoration: none;
  color: #189a46;
  font-size: 20px;
  font-weight: 400;
}

.carousel .content span i {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  margin: 0 10px;
}

.carousel .content span {
  font-size: 20px;
  color: #fff;
}
/* end carousel */

/* start gallery */
.gallery {
  padding: 50px 0 30px;
}

.gallery .gallery-title h6 {
  font-size: 20px;
  color: #f53626;
  margin-bottom: 10px;
}

.gallery .gallery-title h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.gallery .gallery-thumb {
  margin-top: 40px;
  margin-bottom: 40px;
}

.gallery .gallery-thumb .item {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
}

.gallery .gallery-thumb .item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.8s;
}

.gallery .gallery-thumb .item:hover::before {
  left: 125%;
}
/* end gallery */

/* start footer */
.footer {
  background-color: #111;
}

.footer .footer-top {
  padding-top: 50px;
  padding-bottom: 30px;
  color: #fff;
}

.footer .footer-top .col h6 {
  font-size: 20px;
  font-weight: 600;
}

.footer .footer-top ul {
  color: #696969;
  list-style: none;
  padding-left: 0 !important;
  padding-top: 10px;
  font-weight: 600;
}

.footer .footer-top ul span {
  font-weight: 400;
}

.footer .footer-top ul a {
  text-decoration: none;
  color: #696969;
  font-weight: 400;
}

.footer .footer-top ul a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer .footer-top .icon {
  display: flex;
  justify-content: start;
  padding-right: 70%;
}

.footer .footer-top .icon a {
  text-decoration: none;
  color: #696969;
}

.footer .footer-top .icon a:hover {
  color: #fff;
}

.footer .footer-top .col li {
  margin-bottom: 10px;
}

.footer .footer-bottom .content {
  color: #696969;
  padding: 5px 0 20px;
  font-size: 16px;
}

.footer .footer-bottom .content a {
  text-decoration: none;
  color: red;
}

.footer .footer-bottom .content a:hover {
  text-decoration: underline;
}

.footer .line {
  border-top: 2px solid #211f11;
  padding: 10px 0;
}

/* end footer */
