*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Light theme */
#myBody {
  background-color: white;
}

#switchButton {
  background-color: white;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* Dark theme */
.dark#myBody {
  background-color: black;
}

.dark #switchButton {
  background-color: black;
}

.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark #seti-header {
  background-color: black;
  color: white;
}

.dark .navbar {
  background-color: black !important;
}

.dark .navbar-nav a.nav-link {
  color: white;
}

.dark .gallery h3 {
  color: white;
}

/* start header */
header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
}

.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
}

.navbar-collapse {
  flex-grow: 0;
  padding-left: 460px;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: #149a44;
}

.navbar-toggler {
  background-color: #149a44;
}

.navbar-toggler span.navbar-toggler-icon {
  color: #fff;
  display: block;
  margin-top: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  color: #000;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #149a44;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #149a44;
}

.navbar-expand-lg .navbar-nav .nav-link:hover::before {
  width: 100%;
}

a.nav-link::before {
  position: absolute;
  content: "";
  background: #149a44;
  width: 0px;
  height: 2px;
  bottom: 13px;
  transition: all 0.5s;
}

.dropdown-menu {
  transform: translateX(-50px);
  float: none;
  min-width: 15rem;
  padding: 1rem 0 0.3rem;
}

.dropdown-menu a.dropdown-item {
  font-weight: 400;
  font-size: 20px;
  position: relative;
  padding-bottom: 14px;
}

.dropdown-menu a.dropdown-item:hover {
  color: #149a44;
}

.dropdown-menu a.dropdown-item::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #149a44;
  position: absolute;
  left: 15px;
  bottom: 10px;
  transition: all 0.5s;
}

.dropdown-menu a.dropdown-item:hover::after {
  width: 100px;
}
/* end header */
/* start services */
.services .picture{
    margin-top: 90px;
    background: url(/img/banner4.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 45px 0;
}
.services .picture::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: .6;
}
.services .picture .title{
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}
.services .picture .active{
    background: rgba(255, 255, 255, 0);
    font-size: 18px;
    color: #ffffff;
    padding-left: 10px;
}
.services .picture .active a{
    text-decoration: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0);
    font-size: 18px;
    padding-left: 10px;
}
.services .picture .active i{
    font-size: 14px;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    padding-left: 10px;
}
.services .picture .active .item_title{
    color: #189a46;
}
/* end services */

/* start content-phto-info  */
.content-photo-info{
    padding: 48px 0;
}
.content-photo-info .container hr{
    color: #444444;
}
.content-photo-info .container{
    padding: 48px 25px;
}
.content-photo-info .content-photo-grids{
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}
.content-photo-info .img-fluid{
    border-radius: 10px;
    max-width: 551px;
    margin: auto;
}
.content-photo-info .photo-right{
    padding: 0 15px 0px 72px;
}
.content-photo-info  .sub-title{
    color: #f53626;
    font-size: 18px;
    font-weight: 400;
}
.content-photo-info .hny-title{
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
}
.content-photo-info p{
    color: #afafaf;
    font-size: 20px;
}
.content-photo-info  .read{
    font-size: 17px;
    font-weight: 700;
    border-bottom: 2px solid #189a46;
    text-decoration: none;
    color: #ddd;
    margin-top: 20px;
    display: inline-block;
    transition: 0.3s;
}
.content-photo-info .read:hover{
    color: #189a46;
}

/* end content-phto-info */
.footer {
  background-color: #111;
  padding: 40px 0 10px;
}

.footer-top {
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 40px;
}

.footer-top .icon {
  display: flex;
}

.footer-top .item h5 {
  font-weight: 600;
}

.footer-top .item a {
  text-decoration: none;
  font-weight: 300;
}

.footer-top .item a:hover {
  color: #fff !important;
  text-decoration: underline;
}

.footer-top .icon i:hover {
  color: #fff !important;
  text-decoration: none;
  transition: 0.3s;
}

.footer-top .item ul {
  list-style: none;
  padding-left: 0 !important;
}

.footer-top .item li {
  margin-bottom: 10px;
}

.footer-top .item li a:hover {
  color: #fff !important;
}

.footer .line {
  border: 0.05px groove gray;
}

.footer-bottom p {
  text-align: center;
}

.footer-bottom a {
  color: red;
  text-decoration: none;
  font-weight: 300;
}

.footer-bottom a:hover {
  text-decoration: underline;
}



