* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  /* background: #151515; */
  /* color: #afafaf; */
  /* background: #151515; */
  /* color: #afafaf; */
  box-sizing: border-box;
}

/* start header */
header {
  background-color: #151515;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}
.container {
  max-width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 25px;
  color: #ddd;
}
.navbar-collapse {
  flex-grow: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #ddd;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #ddd;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: #149a44;
}
.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  color: #ddd;
  color: black;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #149a44;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link:hover {
  color: #149a44;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
  width: 100%;
}
a.nav-link:before,
a.dropdown-item:before {
  position: absolute;
  content: "";
  background: #149a44;
  width: 0px;
  height: 2px;
  bottom: 13px;
  transition: all 0.5s;
}
/* end header */

/* start carousel */
/* end carousel */

/* start about */
/* end about */

/* start services */

/* end services */

/* start chooseUs */
/* end chooseUs */

/* start award */
/* end award */

/* start plan */
/* end plan */

/* start nutriton */
/* end nutriton */

/* start testimonials */
/* end testimonials */

/* start contact */
/* end contact */

/* start footer */
/* end footer */
