* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}

/* start header */
header {
  background-color: #151515;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}
.container {
  max-width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 25px;
  color: #ddd;
}
.navbar-collapse {
  flex-grow: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: #149a44;
}
.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  color: #ddd;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #149a44;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link:hover {
  color: #149a44;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
  width: 100%;
}
a.nav-link:before,
a.dropdown-item:before {
  position: absolute;
  content: "";
  background: #149a44;
  width: 0px;
  height: 2px;
  bottom: 13px;
  transition: all 0.5s;
}
/* end header */

/* start carousel */

.carousel-caption {
  background: rgba(255, 255, 255, 0);
  margin-bottom: 300px;
  margin-right: 600px;
}
.carousel-caption p {
  background-color: rgba(255, 255, 255, 0);
}
.carousel-caption h1 {
  background-color: rgba(255, 255, 255, 0);
}
.carousel-indicators {
  background-color: rgba(255, 255, 255, 0);
}
.btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 2px solid #fff;
  background-color: #fff;
  color: #149a44;
}
.border-btn {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
  border: 2px solid #fff;
}
.border-btn:hover {
  background: #fff;
  color: #149a44;
}
.carousel-item h1 {
  padding-bottom: 20px;
  font-size: 45px;
}
.carousel-item h1,
p {
  text-align: start;
  color: #ffffff;
}
.carousel-item p {
  font-size: 20px;
}

/* end carousel */

/* start about */
/* end about */

/* start services */

/* end services */

/* start chooseUs */
/* end chooseUs */

/* start award */
/* end award */

/* start plan */
/* end plan */

/* start nutriton */
/* end nutriton */

/* start testimonials */
/* end testimonials */

/* start contact */
/* end contact */

/* start footer */
.footer {
  background-color: #111;
}

.footer .footer-top {
  padding-top: 50px;
  padding-bottom: 30px;
  color: #fff;
}

.footer .footer-top .col h6 {
  font-size: 20px;
  font-weight: 600;
}

.footer .footer-top ul {
  color: #696969;
  list-style: none;
  padding-left: 0 !important;
  padding-top: 10px;
  font-weight: 600;
}

.footer .footer-top ul span {
  font-weight: 400;
}

.footer .footer-top ul a {
  text-decoration: none;
  color: #696969;
  font-weight: 400;
}

.footer .footer-top ul a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer .footer-top .icon {
  display: flex;
  justify-content: start;
  padding-right: 70%;
}

.footer .footer-top .icon a {
  text-decoration: none;
  color: #696969;
}

.footer .footer-top .icon a:hover {
  color: #fff;
}

.footer .footer-top .col li {
  margin-bottom: 10px;
}

.footer .footer-bottom .content {
  color: #696969;
  padding: 5px 0 20px;
  font-size: 16px;
}

.footer .footer-bottom .content a {
  text-decoration: none;
  color: red;
}

.footer .footer-bottom .content a:hover {
  text-decoration: underline;
}

.footer .line {
  border-top: 2px solid #211f11;
  padding: 10px 0;
}
/* end footer */
